html {
	background-image:url(http://cs-server.usc.edu:45678/hw/hw8/images/background.png);
    background-repeat:repeat;
}

body {
	background-image:url(http://cs-server.usc.edu:45678/hw/hw8/images/background.png);
    background-repeat:repeat;
}

.searchWindow {
	text-align: center;
	background-color: #fff;
	margin-top: 20px;
}

.mainBody {
	background-color: #fff;
	margin-top: 20px;
}
span {margin:auto;}

button {
	margin-left: 5px;
	margin-right: 5px;
}

md-autocomplete {
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
}

table {
	width: 100%;
}
tr {
	height: 3.5em;
	border-top: 1px solid #ddd;
}

tr:nth-child(even) {
	background: #f5f5f5;
}

th {
	width: 50%;
	padding: 10px;
}

td {
	width: 50%;
	padding: 10px;
}
#detailTableHeader {
	height: 7em;
}

.tab-content {
	margin-top: 10px;
}


/*Below is animation for panel sliding*/

#pageBody {
	overflow: hidden;
	min-height: 300px;
	position: relative;
}

#currentStock {
	-webkit-animation: slideLeft 0.5s ease-out forwards;
    -moz-animation: slideLeft 0.5s ease-out forwards;
    animation: slideLeft 0.5s ease-out forwards;
}

#favList {
	-webkit-animation: slideRight 0.5s ease-out forwards;
    -moz-animation: slideRight 0.5s  ease-out forwards;
    animation: slideRight 0.5s ease-out forwards;
}


@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideLeft {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.negTd{
	color: red;
}

.posTd{
	color: green;
}

.row {
	margin-left: 2px;
	margin-right: 2px;
}

#input-0:focus {
	box-shadow: 0 0 3px #0070d2 !important;
  	border: 1px solid rgb(21, 137, 238) !important;
}

#input-0 {
	border: 1px solid #ccc !important;
	border-radius: 4px !important;
}
.redInput {
	box-shadow: 0 0 3px #ff3333 !important;
  	border: 1px solid rgb(255, 26, 26) !important;
}

md-autocomplete-wrap {
	box-shadow: none !important;
}


@media (max-width: 768px) {
	.nav-pills li {
		width: 30%;
		margin-left: 7px;
		margin-right: 7px;
	}
	.nav-pills li div{
		text-align: center;
	}
	.glyphicon {
		margin-right: 5px;
	}

	#enterP {
		width: 100%;
	}
	md-autocomplete {
		width: auto !important;
	}
}
#formRow {
	width: 100%;
}

form .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}


.yellowStar {
	color: yellow;
}
md-autocomplete {
	text-align: left !important;
}
md-autocomplete > md-autocomplete-wrap > md-progress-linear { display: none !important; }