body {
	background-color: #222;
}

.searchWindow {
	text-align: center;
	background-color: #fff;
	margin-top: 20px;
}

.mainBody {
	background-color: #fff;
	margin-top: 20px;
}
span {margin:auto;}

button {
	margin-left: 5px;
	margin-right: 5px;
}

md-autocomplete {
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
}